[data-component='ConsolePage'] {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 8px;
  position: relative;
}

.content-top {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  min-height: 40px;
}

.content-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.content-title img {
  width: 24px;
  height: 24px;
}

.top-right-text {
  margin-left: auto;
  font-size: 10px;
  font-weight: 400;
  color: #333;
  text-align: right;
}

.content-main {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  margin: 0 16px;
  position: relative;
}

.content-logs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.content-block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-block-title {
  padding: 16px 0 4px;
  flex-shrink: 0;
}

.content-block-body {
  padding: 4px 0;
  line-height: 1.2em;
  overflow-y: auto;
}

.conversation-item {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.speaker {
  width: 80px;
  flex-shrink: 0;
  margin-right: 16px;
}

.close {
  position: absolute;
  top: 0;
  right: -20px;
  background: #aaa;
  color: #fff;
  border-radius: 16px;
  padding: 2px;
  cursor: pointer;
}

.speaker-content {
  color: #18181b;
  overflow: hidden;
  word-wrap: break-word;
}

/* Bottom Actions Container for settings and content actions */
.bottom-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

/* Toggle Group Styling */
.toggle-group {
  display: flex;
  padding: 4px;
}

.toggle-group button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.settings-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  z-index: 1000;
}

.settings-modal-content {
  padding: 20px;
}

.setting-option {
  margin-bottom: 15px;
}

.setting-option label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.close-button {
  display: block;
  margin: 20px auto 0;
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #555;
}

.settings-button {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.content-actions {
  display: flex;
  align-items: center;
  padding: 10px;
}